/* Open Sans => 400, 600, 700,
  Poppins => 700, 400,600 */

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/opensansregular.woff2") format("woff2"), 
      url("../fonts/opensansregular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensanssemibold.woff2") format("woff2"),
      url("../fonts/opensanssemibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), 
      url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/poppinsregular.woff2") format("woff2"), 
      url("../fonts/poppinsregular.woff") format("woff"); 
}

@font-face {
  font-display: swap; 
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppinssemibold.woff2") format("woff2"),
      url("../fonts/poppinssemibold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppinsbold.woff2") format("woff2"),
      url("../fonts/poppinsbold.woff") format("woff")
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
  display: block;
}

a {
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.productly-header {
  padding-top: 15px;
  padding-bottom: 17px;
}

.productly-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.productly-link-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.productly-link-item:not(:last-child) {
  margin-right: 17px;
}

.productly-link {
  color: #2f281e;
  font-size: 15px;
  line-height: 28px;
  transition: color 0.3 linear;
}

.productly-link:hover {
  color: #f90;
}

.productly-sign-box {
  display: flex;
}

.productly-sign-link {
  padding: 11px 27px 13px;
  font-weight: 600;
  color: #173a56;
  text-align: center;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.sign-in {
  margin-right: 15px;
  transition: background-color 0.3s linear;
}

.sign-in:hover {
  background-color: #bcd0e5;
}

.sign-up {
  padding: 11px 29px 13px;
  color: #fff;
  background-color: #f90;
}

.hero {
  padding-top: 30px;
  padding-bottom: 100px;
}

.hero-wrapper {
  display: flex;
}

.hero-wrapper-inner {
  margin-right: 67px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 113px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 44px;
  font-weight: 700;
  color: #2f281e;
  line-height: 54px;
}

.hero-desc-box {
  width: 487px;
}

.hero-desc {
  margin-top: 0;
  margin-bottom: 45px;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #544837;
  line-height: 28px;
}

.hero-link-box {
  display: flex;
  align-items: center;
}

.hero-link-get-started {
  padding: 15px 41px 16px;
  margin-right: 44px;
  color: #fff;
  text-align: center;
  background-color: #f90;
  border-radius: 4px;
}

.hero-play-button-pic {
  margin-right: 9px;
}

.hero-link-watch-video {
  display: flex;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f90;
  text-decoration-line: underline;
  transition: color 0.3s linear;
}

.hero-link-watch-video:hover {
  color: #ff7549;
}

.design {
  padding-top: 11px;
  padding-bottom: 90px;
  background-image: url("../images/productly-bg-image.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.design-heading-wrapper {
  width: 462px;
  margin: 0 auto;
  text-align: center;
}

.design-heading {
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 34px;
  font-weight: 700;
  color: #2f281e;
}

.design-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.design-item {
  width: 262px;
}

.design-item:not(:last-child) {
  margin-right: 50px;
}

.design-item-title {
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
  color: #2f281e;
}

.design-item-desc {
  margin-top: 0;
  margin-bottom: 60px;
}

.design-sign-up-wrapper {
  padding: 15px 0 16px;
  text-align: center;
}

.design-sign-up {
  padding: 15px 39px 16px;
  font-weight: 600;
  color: #fff;
  background-color: #ff7549;
  border-radius: 4px;
}

.marketing {
  padding-top: 30px;
  padding-bottom: 96px;
}

.marketing-heading-wrapper {
  width: 622px;
  margin-bottom: 31px;
}

.marketing-heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 34px;
  font-weight: 700;
  color: #2f281e;
}

.marketing-desc {
  margin-top: 0;
  margin-bottom: 24px;
  color: #544837;
  line-height: 26px;
}

.marketing-link {
  display: inline-flex;
  padding: 0 14px;
  font-size: 13px;
  color: #544837;
  row-gap: 7px;
  border-radius: 90px;
  border: 1px solid #d7d7d7;
  background: #fff;
  line-height: 28px; 
}

.all-link {
  color: #fff;
  background-color: #f90;
}

.marketing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  row-gap: 30px;
  list-style-type: none;
}

.marketing-item {
  padding-bottom: 26px;
}

.item-title-wrapper {
  width: 310px;
  margin: 0 auto;
}

.funny-wrapper {
  width: 719px;
  margin: 0 auto;
}

.marketing-item-title {
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 700;
  color: #2f281e;
  line-height: 34px;
}

.marketing-link-wrapper {
  margin-left: 47px;
}

.marketing-item-link {
  font-size: 13px;
  color: #544837;
  line-height: 28px;
}

.marketing-item-link+.marketing-item-link {
  margin-left: 37px;
}

.about {
  padding-bottom: 101px;
}

.about-wrapper {
  margin-bottom: 45px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 14px;
  color: #2f281e;
  font-size: 34px;
  font-weight: 700;
}

.about-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: #544837;
  line-height: 26px;
}

.about-stakeholders {
  display: flex;
  justify-content: space-between;
}

.stakeholders-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  padding: 20px 35px 23px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #0000000d;
}

.stakeholders-name {
  margin-top: 0;
  margin-bottom: 0;
  color: #544837;
  font-weight: 700;
  line-height: 26px; 
}

.stakeholders-profession {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #544837;
  line-height: 26px;
}

.stakeholders-email {
  font-size: 14px;
  color: #1943ef;
  line-height: 26px;
  text-decoration-line: none;
}

.stakeholders-pic {
  margin-right: -75px;
  border-radius: 50%;
}

.last-pic {
  margin-right: -55px;
}

.contact {
  padding-top: 62px;
  padding-bottom: 82px;
  background-color: #ffeee1;
}

.contact-title {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 34px;
  color: #2f281e;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-inner {
  width: 520px;
}

.contact-desc {
  margin-top: 0;
  margin-bottom: 33px;
  color: #544837;
  line-height: 26px;
}

.contact-link {
  display: flex;
  font-size: 25px;
  color: #544837;
  line-height: 26px;
}

.contact-link + .contact-link {
  margin-top: 19px;
}

.contact-link-pic {
  margin-right: 11px;
}

.input-wrapper {
  display: flex;
  width: 577px;
  justify-content: space-between;
}

.form-input {
  display: block;
  width: 281px;
  margin-bottom: 18px;
  padding: 10px 21px;
  background-color: #fff;
  border-style: none; 
  border-radius: 5px;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: #c6c6c6;
  line-height: 26px;
}

.suffer-text {
  width: 577px;
  height: 159px;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-left: 21px;
  color: #c6c6c6;
  background-color: #fff;
  border-style: none;
  border-radius: 5px;
  line-height: 26px;
  resize: vertical;
}

.suffer-text:focus {
  outline: none;
}

.form-btn {
  width: 117px;
  padding: 16px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #f90;
  border-style: none;
  border-radius: 4px;
}

.productly-footer {
  padding-top: 58px;
  padding-bottom: 72px;
}

.footer-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.item-quick {
  margin-left: 152px;
}

.item-stuff {
  margin-left: 147px;
}

.item-links {
  margin-left: 212px;
}

.footer-link {
  text-decoration-line: none;
}

.footer-item-strong {
  color: #2f281e;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; 
}

.footer-item-link {
  display: block;
  margin-top: 15px;
  color: #544837;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  transition: color 0.3s linear;
}

.footer-item-link:hover {
  color: #f90;
}



